{% include 'base.html' %}
{% block content %}
<title>Home Page</title>

    <style>
        .bimage{
            width: 100%;
        }
        .title {
            color:black;
            font-style: normal;
            background-color:brown;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
            text-align: center;
            font-weight: 200px;
            text-decoration: underline;
        
        }
        .description{
          margin-top: 20px;
          margin-bottom: 20px;
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 10px;
          padding-bottom: 10px;
          color: rgb(0, 0, 0);
          text-align:justify;
          border: black;
          border-style:dashed;
          border-color:brown;
        }
        .edit{
          background-color:brown;
          color: aliceblue;
          border: none;
          font-size: 20px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 2px;
          padding-bottom: 2px;
          border-radius: 15px;
          margin-left: 0px;
          margin-right: 100px;
          margin-bottom: 10px;
          transition: opacity 0.15s;
        }
        .delete{
          background-color:brown;
          color: aliceblue;
          border: none;
          font-size: 20px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 2px;
          padding-bottom: 2px;
          border-radius: 15px;
          margin-left: 0px;
          margin-right: 100px;
          margin-bottom:10px;
          transition: opacity 0.15s;
        }
        .created{
          background-color:brown;
          color:black;
          text-align: end;
          padding-left: 10px;
          padding-right: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        .edit:hover{
          opacity: 0.7;
          text-decoration: underline;
        }
        .edit:active{
          opacity: 0.5;
        }
        .delete:hover{
          opacity:0.7;
          text-decoration: underline;
        }
        .delete.hover{
          opacity:0.5;
        }
    </style>
    <div class="container">

      {{i.id}}
      <div class="row">
        <div class="col-lg-4 mt-4">
          <p class="title">
          {{i.title}}
        </p>
        <img class="bimage" src="{{i.image.url}} ">

        <a href="{%url 'update' i.id%}"><button class="edit mt-5">Edit</button></a><br>
          <a href="{%url 'delete' i.id%}"><button class="delete">Delete</button></a><br>
      </div>

        <div class="col-lg-8">
          <P class="description">
            {{i.description}}
          </P>
          
          <P class="created">
            Created,{{i.created}}
        </div>
      </div>
    
    </P><br>
  </div>

    {% endblock %}